body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-image: url("/Assets/backgrounds/page_background.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 97vh;
    gap: 20px;
}

#title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:4px;
}
#title img{
    display: block;
    height: 40px;
    width: 40px;
}

.page_style{
    border: 5px solid brown;
    border-radius: 10px;
    padding: 15px;
}

.container{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-image: url("/Assets/backgrounds/piece_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container[hidden]{
    display: none !important;
}

#menu{
    display: flex;
    width: 70%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#menu a,#menu button{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    color: black;
    background-color: white;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: large;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-family: inherit;
}
#menu a img,#menu button img{
    display: block;
    visibility: hidden;
    width: 20px;
    height: 20px;
}
#menu a:hover,#menu button:hover{
    cursor: pointer;
}
#menu a:hover img,#menu button:hover img{
    visibility: visible;
}
.error_message{
    background-color: red;
    color: white;
    border-radius: 8px;
    padding: 4px;
    font-weight: bold;
    text-align: center;
    align-self: center;
}

.menu_button{
    align-self: center;
    width: auto;
    padding: 8px;
    border-radius: 7px;
    border: 2px solid brown;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
}

.darken:not(:disabled):hover{
    filter: brightness(0.7);
}
